# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\lenovo\PycharmProjects\ci app\API-tests-on-GamePower-in-parallel-and-UI-tests-on-YouTube\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
